## GREPNOVA CONFIGURATION FILE. COMPATIBLE WITH THE FOLLOWING VERSION NUMBER
1.0.0
## FILE PATH FOR FITS INPUT FILES (DON'T FORGET \ AT THE END)

## FILE PATH FOR JPEG OUTPUT ILLUSTRATIONS (DON'T FORGET \ AT THE END)
C:\GrepNova\JPG\
## FTP SERVER ADDRESS (e.g. databank.gr)
sioustis.com
## FTP SERVER START DIRECTORY (START-END WITH SLASHES)
/gsst/
## FTP USER-NAME
gsstuser
## FTP PASSWORD
!gsst2016
## JPEG ILLUSTRATION OPTIONS
TTT
## SUBJECT ALWAYS NEWER THAN TEMPLATE (var SUBJECT_ALWAYS_NEWER)
FALSE
## COMB FOR HOT PIXELS (var FITS_COMB_HOTPIXELS)
FALSE
## DISPLAY NEGATIVE RESULTS (var DISPLAY_NEGATIVES)
FALSE
## DISPLAY WARNINGS (var DISPLAY_WARNINGS)
TRUE
## VERBOSE ANALYSIS (var MAIN_VERBOSE)
TRUE
## VERBOSE FITS IMPORTATION (var GREPNOVA_FITS_VERBOSE)
TRUE
## VERBOSE OPTIMISATION (var LIKELIHOOD_VERBOSE)
TRUE
## DISPLAY OPTIMISATION STEPS (var LIKELIHOOD_STEPS)
FALSE
## VERBOSE SOURCE EXTRACTION (var STAR_VERBOSE)
FALSE
## VERBOSE LIST OF SOURCES (var SOURCE_LIST)
FALSE
## VERBOSE_SNE_IDENTIFICATION (var SNEFIND_VERBOSE)
TRUE
## MAXIMUM NUMBER OF STARS EXTRACTED FROM IMAGES
500
## MAXIMUM NUMBER OF STARS USED FOR PATTERN RECOGNITION
20
## MAXIMUM NUMBER OF STARS USED TO DETERMINE SEEING
20
## BLINKING TIME
500
## PRE-SNE-SEARCH OPTIMISATION STEPS
11100000000 0.01  # Optimise orientation first
00000010000 0.01  # Find convolution width
00011000000 0.01  # Optimise brightness
00000100000 0.01  # Find noise level (do this last)
## POST-SNE-SEARCH OPTIMISATION STEPS
00000001100 0.01  # Optimise SNe position
00011000011 0.01  # Optimise brightness / size
00000100000 0.01  # Find noise level (do this last)
## END
